/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.inspiration {
    color: #f0e5df;
}

.logo {
    padding-top: 4px;
}

.nav-grad {
    background-image: linear-gradient(to right, #e1f5fe , #039be5);
}

hr {
    border-color: #b3e5fc;
}