<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="../../static/web/css/bootstrap.min.css" rel="stylesheet">
        <!-- global stream css -->
        <link href="/../../static/web/css/style.css" rel="stylesheet">
    </head>

    <body>
        {% block login_nav %}
            <nav class="navbar navbar-fixed-top navbar-inverse">
                <ul class="nav navbar-nav head">
                    <li> <a href="{% url 'home' %}">Back</a></li>
                </ul>
            </nav>
        {% endblock %}


        {% block content %}{% endblock %}
    </body>
</html>